body {
  background: #6788c4;
  font-family: 'Poppins', sans-serif;
}

.nav {
  background-color: #6788c4;
  color: #fff;
  padding: 10px;
  text-align: center;
  margin-bottom: 40px;
}
.nav h1 {
  margin: 0;
  font-size: 30px;
}
.container{
  padding: 20px;
  background-color: #fff;
  box-shadow: 3px 3px 3px 3px black;
  width: 50%;
  margin: 0 auto;
  margin-top: 5%;
}
#output{
  padding: 20px;
  background-color: #fff;
  box-shadow: 3px 3px 3px 3px black;
  width: 80%;
  margin: 0 auto;
  margin-top: 5%;
  display: none;
}
#output div {
  margin-bottom: 10px;
}

#output div span:first-child {
  font-weight: bold;
  margin-right: 10px;
}

#output h2 {
  margin-top: 20px;
}
.btn {
  padding: 10px;
  margin-top: 10px;
  width: 20%;
  color: white;
  background-color: #6788c4;
  border: 1px black solid;
  border-radius: 4px;
}
.btn:hover{
  background-color: black;
  border: 1px white solid;
}
#showdata{
  display: none;
}
.form-group{
  margin-bottom: 15px;
}
.form-group input[type="text"],
input[type="email"],
input[type="tel"],
input[type="address"]{
  display: flex;
  flex-direction: column;
}
.form-group input[type="text"],
input[type="email"],
input[type="tel"],
input[type="address"] {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-size: 12px;
  padding: 10px;
  width: 70%;
}
.form-group input:focus {
  outline: 1;
}
.form-group.success input {
  border-color: #09c372;
}
.form-group.error input {
  border-color: #ff3860;
}
.form-group .error {
  color: #ff3860;
  font-size: 12px;
  height: 13px;
}

/* Media queries for responsive design */
@media screen and (max-width: 768px) {
  .container {
    width: 80%;
  }
  .btn {
    width: 30%;
  }
  .form-group input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="address"] {
    width: 90%;
  }
}

@media screen and (max-width: 576px) {
  .container {
    width: 90%;
  }
  .nav h1 {
    font-size: 24px;
  }
  .btn {
    width: 40%;
  }
  .form-group input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="address"] {
    width: 90%;
  }
}
