*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
  }

  .container{
    padding: 20px;
    background-color: #C8B6A6;
    /* height: 100vh; */
    width: 50%;
    margin: 0 auto;
    margin-top: 5%;
}

.nav {
    background-color: #A4907C;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
  }

  .nav h1 {
    margin: 0;
    font-size: 30px;
  }

.table {
    width: 100%;
  }

.td {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
  }

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="address"],
select {
  width: 70%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-left: 10px;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 10px;
  margin-left: 10px;
}

.btn {
    background-color: #A4907C;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }

  .btn:hover{
    background-color: black;
  }

  #showdata{
    display: none;
  }

  /* Responsive styles */
@media screen and (max-width: 600px) {
    .container {
      padding: 10px;
    }
    
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="address"],
    select {
      margin-bottom: 5px;
    }
        
    .btn {
      padding: 5px 10px;
    }
  }
